<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szerver</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <p class="server">A szerfer fut elérhető végpont: <a href="http://localhost:5000/skills">http://localhost:5000/skills</a></p>
</body>
</html>